<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>タスク一覧</title>
</head>
<body>
<a th:href="@{../tasks/new}">作成</a>
<p th:if="${tasks.isEmpty()}">タスクがありません</p>
<ul th:unless="${tasks.isEmpty()}">
    <li th:each="task: ${tasks}">
        <a th:href="@{../tasks/{id}/edit(id=${task.id})}">
            <span th:unless="${task.done}" th:text="${task.content}"/>
            <s th:if="${task.done}" th:text="${task.content}"/>
        </a>
        <br>
        <a th:href="@{../tasks/{id}(id=${task.id})}">
            <button type="button">
                詳細
            </button>
        </a>
        <form th:method="post" th:action="@{../tasks/{id}(id=${task.id})}">
            <input type="hidden" name="_method" value="delete"/>
            <input type="submit" value="削除"/>
        </form>
    </li>
</ul>

</body>
</html>